html {
background-image: <img src ="files/Marble-Stone.jpg">;

}

body {
  width: 750px;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;



  font-family: 'Century Gothic';
  font-weight: normal;
  font-style: normal;
}


a:link, a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: blue;
}
body {  background-image: <img src ="files/Marble-Stone.jpg">;
}

var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.font = "30px Arial";
ctx.strokeText("Hello World",10,50);

body, pre, pre code {
  font-size: 18px;
}

a, a:visited {
  color: #48820f;
}

h1, h2 {
  display: inline-block;
  border-bottom-style: solid;
  border-bottom-color: 	#FFEBCD;
}

h1 {
  border-bottom-width: 7px;
}

h2 {
  border-bottom-width: 3px;
}

img, audio, iframe {
  width: 100%;
}

#intro { 
font-family: 'Bremen Bd BT';
  font-weight: large;
  font-style: large;
}
